<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class '<%= controller.controller_name %>'>
<div id="banner">

  <%= @page_title || "Deliveroo" %><br>
  <%= Time.now %>
</div>
<div id="side">
  <ul>
    <li><a href="http://localhost:3000/products">Home</a></li>
    <li><a href="http://localhost:3000/store/index">Catalog</a></li>
  </ul>
</div>
<div id="main">
  <%= yield %>
</div>

</body>
</html>
